<%= form_with(model: movie, local: true) do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title %>
    <%= form.text_area :summary, size: "4x4", :class => "form-control",  placeholder: "Movie summary here..." %>
    <%= form.date_select :release, { :start_year => 1913 } %>
    <%= form.submit "Add"%>
  </div>
<% end %>
