<p id="notice"><%= notice %></p>

<h1><%= link_to 'Movies', movies_path %></h1>

<h2><%= @movie.title %></h2>

<ul>
  <li>
    Summary: <%= @movie.summary %>
  </li>
  <li>
    Release date: <%= @movie.release %>
  </li>
  <% if @movie.universe %>
    <li>
      Universe: <%= link_to @movie.universe.name, @movie.universe %>
    </li>
  <% end %>
</ul>

<h3><%= link_to "Add to a Universe", :controller => "movies", :action => "fetch_universes", :id => @movie.id  %></h3>

<h3>Trailers</h3>
<%= render partial: 'video', collection: @videos, as: :video %>

<h3>Add Trailer</h3>
<ziggeo ziggeo-limit="60"
        ziggeo-width="320"
        ziggeo-height="240"
        ziggeo-perms="allowupload"
        ziggeo-tags="<%= @movie.id %>"></ziggeo>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
